body {
    font-family: Arial, Helvetica, sans-serif;
    background-color: aquamarine;
    margin: 0;
    padding: 20px;
}

h1 {
    text-align: center;
    color: black;
}

section {
    background: rgb(102, 102, 229);
    padding: 20px;
    margin: 20px auto;
    width: 80%;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgb(42, 147, 129)
}
form {
    display: grid;
    gap: 5px;
}

input, select {
    padding: 10px;
    border-radius: 5px;
    border: 1px solid #ccc;
}

button {
    padding: 10px;
    background-color: rgb(42, 147, 129);
    color: black;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

button:hover {
    background-color: #1ad1c8;
}

table {
    width: 100%;
    border-collapse: collapse;
}

th, td {
    padding: 10px;
    border: 2px solid #ddd;
    text-align: center;
}

th {
    background-color: #2c7be5;
    color: black;
}